@using BizzyQuote.Data.Entities
@{
    ViewBag.Title = "QuoteList";
}

<h2>Quote List</h2>

@Html.ActionLink("Create Quote", "Create")

<table class="bizzy-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Customer Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
    </thead>
    @foreach (Quote quote in ViewBag.Quotes)
    {
        <tr>
            <td>@Html.ActionLink(quote.ID.ToString(), "Edit", new { id = quote.ID })</td>
            <td>@quote.Name</td>
            <td>@quote.Phone</td>
            <td>@quote.Email</td>
            <td>@quote.CreatedOn.ToShortDateString()</td>
            <td>@quote.ModifiedOn.ToShortDateString()</td>
        </tr>
    }
</table>


