@model BizzyQuote.Models.WasteFactorModel

<tr>
    @Html.Hidden("ID", Model.ID)
    @Html.Hidden("ProductID", Model.ProductID)
    @Html.Hidden("ProductLineID", Model.ProductLineID)
    @Html.Hidden("CompanyID", Model.CompanyID)
    @Html.Hidden("CreatedOn", Model.CreatedOn)
    @Html.Hidden("ModifiedOn", Model.ModifiedOn)
    @Html.Hidden("ModifiedBy", Model.ModifiedBy)
    <td>@Model.ProductLineName</td>
    <td>@Model.ProductName</td>
    <td>@Html.EditorFor(model => model.Factor)</td>
</tr>
