@model BizzyQuote.Models.ProductToProductLineModel

<tr>
    @Html.Hidden("ProductID", Model.ProductID)
    @Html.Hidden("ProductLineID", Model.ProductLineID)
    <td>@Model.ProductLineName</td>
    <td>@Model.ProductName</td>
    <td>@Html.EditorFor(model => model.IsActive)</td>
</tr>
