@using BizzyQuote.Data.Entities
@using BizzyQuote.Data.Enums
@model BizzyQuote.Models.MaterialModel
@{
    ViewBag.Title = "Material Details";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <fieldset>
        <legend>Material Details</legend>
        <ol>
            <li class="display-label">@Html.LabelFor(m => m.Name)</li>
            <li class="display-field">@Html.EditorFor(m => m.Name)</li>

            <li class="display-label">@Html.LabelFor(m => m.SubName)</li>
            <li class="display-field">@Html.EditorFor(m => m.SubName)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.UnitCost)</li>
            <li class="display-field">@Html.EditorFor(m => m.UnitCost)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.Measurement)</li>
            <li class="display-field">@Html.DropDownList("Measurement", Model.MeasurementList)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.Height)</li>
            <li class="display-field">@Html.EditorFor(m => m.Height)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.Width)</li>
            <li class="display-field">@Html.EditorFor(m => m.Width)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.Thickness)</li>
            <li class="display-field">@Html.EditorFor(m => m.Thickness)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.Texture)</li>
            <li class="display-field">@Html.EditorFor(m => m.Texture)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.Finish)</li>
            <li class="display-field">@Html.EditorFor(m => m.Finish)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.Overlap)</li>
            <li class="display-field">@Html.EditorFor(m => m.Overlap)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.SKU)</li>
            <li class="display-field">@Html.EditorFor(m => m.SKU)</li>
            
            <li class="display-label">@Html.LabelFor(m => m.IsActive)</li>
            <li class="display-field">@Html.EditorFor(m => m.IsActive)</li>
            
            @Html.HiddenFor(m => m.CreatedOn)
            @Html.HiddenFor(m => m.ModifiedOn)
            @Html.HiddenFor(m => m.ManufacturerID)
            @Html.HiddenFor(m => m.ID)
        </ol>
        <input type="submit" value="Save" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

