@using BizzyQuote.Data.Entities
@using BizzyQuote.Data.Enums
@{
    ViewBag.Title = "Material List";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("New Material", "CreateMaterial")


<table class="bizzy-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Unit Cost</th>
            <th>Measurement</th>
            <th>Active</th>
            <th>Created</th>
            <th>Products</th>
            <th>Clone</th>
        </tr>
    </thead>
    @foreach (Material material in ViewBag.Materials)
    {
        <tr>
            <td>@Html.ActionLink(material.Name, "EditMaterial", new {id = material.ID})</td>
            <td>@material.UnitCost</td>
            <td>@material.Measurement.ToString()</td>
            <td>@material.IsActive.ToString()</td>
            <td>@material.CreatedOn.ToShortDateString()</td>
            <td>@Html.ActionLink("Products", "MaterialProductsGrid", new { supplierID = material.ManufacturerID })</td>
            <td>@Html.ActionLink("Clone", "Clone", new { id = material.ID })</td>
        </tr>
    }
</table>