@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
    <p>
        At Bizzy Quote we’re helping you put the old saying “work smarter not harder” into action. 
    </p>
    <p>
        Welcome to your one-stop-shop to measure, quote, and order siding materials within minutes. With years of construction and programming experience we saw a need for professional quotes, in a timely manner and created  a solution for contractors to get out with the old and in with the new.
    </p>
    <p>
        Today’s average contractor is still drawing/measuring by hand, then going back to the office to calculate materials, pricing, and creating a quote for a homeowner. With our user friendly software all you need to do is enter your measurements and let Bizzy Quote do the rest. If you wear multiple hats at your company then you’ll be happy to see 2 hours saved…per quote, not to mention a much more organized business.</p>
    <p>
        We’ve already pre-popluated all of the materials from your trusted siding suppliers. Simply add your material and labor costs one-time and Bizzy Quote will do the rest.
    </p>
    <p>
        Furthermore, we’ll allow access to your quotes forever and accessible from anywhere, all stored on our secure cloud. You can even store before and after photos  as well as videos of your project.
    </p>
    <p>
        Difficult tracking each sales reps close rates? We’ll send you a monthly report on close rates, average gross margin, and total revenue that your rep is producing. Make more money now, sign up today!
    </p>
</article>

<aside>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Pricing", "Pricing", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>